@use '../util/functions' as *;

.dark{
  background-color: (var(--dark-bg) !important);
  color: (var(--dark-text2) !important);
  span{
    color: (var(--dark-text1) !important);
  }
  div{
    color:var(--dark-text2)
  }
}
.light{
  background-color: (var(--light-bg) !important);
  color: (var(--light-text2) !important);
  span{
    color: (var(--light-text1) !important);
  }
  div{
      color: var(--light-text2);
  }

}

.lightCard{
  background-color: (var(--light-card) !important);
  color: (var(--light-text2));
}
.darkCard{
  background-color: (var(--dark-card) !important);
  color: (var(--dark-text2));
}